.container-fluid{
    padding-top:40px;
    margin-left: 50px;
}
.detailDescription{
    font-size: 18px;
    padding:30px;
}


.explore{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:350px;
    width:90%;
    cursor: pointer;
    margin:20px;
    padding:20px;
    transition: transform 0.3s ease;
}

.explore:hover{
    transform: scale(1.05);
}

.placeIntro{
    display:flex;
    flex-direction: column;
}

.placeIntro p{
    font-size: 20px;
}
.placeImg img{
    height:300px;
    width:400px;
    transition: transform 0.3s ease;
}


.color{
background-color: #f2f7f2;
}

