.container-fluid{
    padding-top:40px;
    margin-left: 50px;
}
.detailDescription{
    font-size: 25px;
    padding:40px;
}


.explore{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:600px;
    width:90%;
    cursor: pointer;
    margin:20px;
    padding:20px;
    transition: transform 0.3s ease;
}

.explore:hover{
    transform: scale(1.05);
}

.placeIntro{
    display:flex;
    flex-direction: column;
}
.placeIntro h1{
    font-size: 45px;
}
.placeIntro p{
    font-size: 32px;
}
.placeImg img{
    height:500px;
    width:700px;
    transition: transform 0.3s ease;
}


.color{
background-color: #f2f7f2;
}

