<div class="loginbox">
<div class="wrapper">
    <form [formGroup]="loginform" (ngSubmit)="login()">
    <h2>Login</h2>
    <div class="input-field">
    <input type="text"  formControlName="email"  required>
    <label>Enter your email</label>
    <div *ngIf="loginform.controls['email'].errors?.['required']" style="color:red;font-size: 11px;">
        This is a required field
      </div>
      <div *ngIf="loginform.controls['email'].errors?.['minlength']" style="color:red;font-size:11px;">
        Minimum 4 letters required
      </div>
    </div>
    <div class="input-field">
    <input type="password" formControlName="password"  required>
    <label>Enter your password</label>
    <div *ngIf="loginform.controls['email'].errors?.['required']" style="color:red;font-size:11px;">
        This is a required field
      </div>
    </div>
    <div class="forget">
    <a href="#">Forgot password?</a>
    </div>
    <button type="submit" value="Login">Log In</button>
    <div class="register">
    <p>Don't have an account? <a href="#" routerLink="/sign-up"><span style="font-size: 15px;font-weight:bold">Sign-Up</span></a></p>
    </div>
    </form>
    </div>
</div>