.carousel-item{
    height: 500px;
    width:100%;
}
.carousel-caption{
    h5{
        opacity:0.8;
    }
}
.more{
    padding: 10px;
    h1{
        font-size: 20px;
        color:#14a800;
    }
    h1:hover{
        color:#23ce23;
    }
}
.details{
    padding:10px;
}
.keralaDetails {
    display: flex;
    overflow-x: scroll;
    background-color: #f2f7f2;
  }
  
  .keralaDetails::-webkit-scrollbar {
    display: none;
  }
  .category{
    margin:30px;
  }
  .keralaCard {
    position: relative;
    min-width: 370px;
    min-height: 200px;
    margin: 20px;
    overflow: hidden;
  }
  
  .keralaCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cardContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
  }
  .cardTitle{
    font-size: 25px;
  }
  .cardText{
    font-size: 15px;
  }

  .cardTitle, .cardText {
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .keralaCard:hover .cardContent {
    transform: translateY(0);
  }
  
  .keralaCard:hover .cardTitle,
  .keralaCard:hover .cardText {
    opacity: 1;
    transform: translateY(0);
  }
  